<h1>Ajax#index</h1>
<p>Find me in app/views/ajax/index.html.erb</p>

<%# link_to %>
<hr />
<div class="link_to_remote">
  <%= link_to "link_to remote: true", ajax_link_to_remote_path, remote: true %>
  <div>
    Now => <span class="result"></span>
  </div>
</div>

<%# form_tag %>
<hr />
<div class="form_tag_remote">
  <%= form_tag(ajax_form_tag_remote_path, remote: true) do %>
    <%= submit_tag "form_tag remote: true" %>
  <% end %>
  <div>
    Now => <span class="result"></span>
  </div>
</div>

<%# Ajax %>
<hr />
<div class="ajax_get">
  <%= link_to "Ajax get", ajax_ajax_get_path, id: "ajax_get_link" %>
  <div>
    Now => <span class="result"></span>
  </div>
</div>

<%# HTML %>
<hr />
<div class="html_get">
  <%= link_to "HTML get", ajax_html_get_path, id: "html_get_link" %>
  <div>
    Now => <span class="result"></span>
  </div>
</div>
